/* Importar fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Sora:wght@100..800&display=swap');

:root {
    --Background1: #FFFFFF;
    --FontPrincipal: #1C2A5F;
    --FontSecundaria: #7A7AA5;
    --FontReforco: #7A7A7A;
    --ButtonIcon: #2E4BB9;
    --FontFamily-1: "Big Shoulders Display", sans-serif;
    --FontFamily-2: "Sora", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Background1);
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: var(--FontFamily-2);
    padding: 10px;
    height: 90px;
}

.logo {
    max-height: 90px;
    align-items: center;
}

.logo img {
    height: 130px;
}

.container {
    max-width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--FontSecundaria);
    transition: all 0.9s ease;
}
nav a:hover{
    color: var(--FontPrincipal);
    text-decoration: underline;
    transition: all 0.9s ease
}
.btn, .btn2 {
    background-color: var(--ButtonIcon);
    width: 150px;
    height: 45px;
    color: white;
    font-family: var(--FontFamily-2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.7s ease;
}
.btn:hover{
    background-color: var(--FontPrincipal);
    transition: all 0.7s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar-nav {
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    list-style: none;
    margin-bottom: 10px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: var(--FontSecundaria);
    font-size: 18px;
}
.menu-btn{
    display: none;
    background-color: none;
    border: none;
}
/* Estilos do ícone do menu */
ion-icon {
    font-size: 40px;
    cursor: pointer;
}


/* Estilos para a seção Home */
#home {
    background-image: url(.././../images/Background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 50px;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
}

#home .container-esq {
    max-width: 400px;
    margin-right: auto;
    margin-left: 0;
    margin-top: 100px;
}

#home .container-esq h1 {
    font-family: var(--FontFamily-1);
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

#home .container-esq p {
    color: white;
    font-family: var(--FontFamily-2);
    font-size: 18px;
    margin-bottom: 10px;
}

#home .container-esq button {
    background-color: var(--ButtonIcon);
    font-family: var(--FontFamily-2);
    height: 40px;
    width: 150px;
    transition: all 0.7s ease;
}
#home .container-esq button:hover{
    background-color: var(--FontPrincipal);
    transition: all 0.7s ease;
}

/* Estilos para a seção Sobre */
#sobre {
    padding: 50px 0 120px;
    background-color: var(--Background1);
}

#sobre .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#sobre .container-esq {
    flex-basis: calc(50% - 10px);
    padding-right: 10px;
    box-sizing: border-box;
}

#sobre .container-dir {
    flex-basis: calc(50% - 10px);
    padding-left: 10px;
    box-sizing: border-box;
}

#sobre .container-esq h2 {
    font-size: 18px;
    color: var(--FontSecundaria);
    font-family: var(--FontFamily-2);
    font-weight: bold;
    margin-bottom: 10px;
}

#sobre .container-esq h1 {
    font-size: 50px;
    color: var(--FontPrincipal);
    font-family: var(--FontFamily-1);
    margin-bottom: 20px;
}

#sobre .container-esq p {
    font-size: 16px;
    color: var(--FontReforco);
    font-family: var(--FontFamily-2);
    margin-bottom: 5px;
    line-height: 1.5;
}

#sobre .container-dir img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção Equipe */
#equipe {
    background-image: url(../../images/Backgroun-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    height: 700px;
}
#equipe .container{
    display: block;
    max-width: 1000px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#equipe h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    font-family: var(--FontFamily-1);
}

.subtitulo {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
    font-family: var(--FontFamily-2);
}

.cards-equipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

.card {
    max-width: 300px;
    max-height: 290px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.055);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.card img {
    max-width: 100%;
    margin-top: -45px;
}

.card h3 {
    font-size: 24px;
    color: var(--FontPrincipal);
    font-family: var(--FontFamily-2);
    margin-top: -30px;
}

.card p {
    font-size: 15px;
    color: var(--FontReforco);
    font-family: var(--FontFamily-2);
    line-height: 1.6;
}

/* Estilos para a seção Serviços */
#servicos{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#servicos .cards-servicos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

#servicos .card {
    max-width: 270px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.055);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
#servicos .card h3{
    font-family: var(--FontFamily-1);
    font-size: 27px;
    margin-top: -5px;
}
#servicos .container{
    display: block;
    max-width: 1000px;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#servicos .card img{
    width: 70px;
    margin-top: -15px;
}
#servicos p{
    color: var(--FontSecundaria);
}
#servicos h1 {
    font-size: 50px;
    color: var(--FontPrincipal);
    margin-bottom: 10px;
    font-family: var(--FontFamily-1);
}
#servicos .container button{
    margin-top: 40px;
    transition: all 0.7s ease;
}
#servicos .container button:hover{
    transition: all 0.7s ease;
    background-color: var(--FontPrincipal);
}
/* Estilos para a seção Depoimentos */
#depoimentos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
}
#depoimentos .container-esq{
    margin: 0 30px;
}
#depoimentos h1{
    font-size: 50px;
    color: var(--FontPrincipal);
    margin-bottom: 10px;
    font-family: var(--FontFamily-1);
    text-align: left;
}
#depoimentos p{
    color: var(--FontSecundaria);
    font-size: 12px;
    text-align: left;
    max-width: 250px;
}
#depoimentos .cards-equipe img{
    margin-top: 10px;
    width: 50px;
}
#depoimentos h3{
    margin-top: 10px;
    font-size: 15px;
}
#depoimentos .card {
    max-width: 200px;
    max-height: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.055);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.card ion-icon{
    font-size: 17px;
    color: rgb(182, 182, 0);
}
#depoimentos .container{
    display: flex;
    max-width: 1000px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    #home{
        background-image: url(../../images/Background-Cel-1.jpg);
        background-size: cover;
        height: 550x;
    }
    .logo img{
        width: 130px;
        height: 100px;
        margin: 10px auto;
    }
    #equipe{
        margin-top: 100px;
        background-image: url(../../images/Background-Cel-2.jpg);
        height: 1100px;
        margin-top: 500px;
    }
    #servicos{
        padding: 0px 0px 500px;
    }
    #depoimentos h1,
    #depoimentos p{
        text-align: center;
    }
    #depoimentos{
        margin-top: 580px;
        text-align: center;
    }
    #depoimentos .container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    #equipe .container{
        height: 1000px;
    }
    #servicos .cards-servicos{
        grid-template-columns: 1fr;
    }
    #home .container, #sobre .container{
        max-width: 375px;
        margin: 0 auto;
        flex-direction: column;
    }
    #sobre{
        margin: 0px 50px;
    }
    #sobre .container{
        margin: 0 auto;
        display: grid;
        flex-direction: column;
    }
    #home .container-esq{
        text-align: center;
        margin: -50px auto;
    }
    #home .container-esq h1,
    #sobre .container-esq h1,
    #equipe .container h1,
    #servicos .container h1{
        font-size: 35px;
    }
    #home .container-esq p,
    #sobre .container-esq p,
    #equipe .container p,
    #equipe .cards-equipe p,
    #servicos .container p,
    #servicos .cards-servicos p{
        font-size: 15px;
    }
    #equipe .container h3,
    #servicos .container h3{
        font-size: 20px;
    }
    #sobre .container-esq h2{
        font-size: 16px;
    }
    #sobre .container-esq{
        margin: 0 auto;
        display: grid;
        justify-content: center;
    }
    .cards-equipe{
        grid-template-columns: 1fr;
    }
    nav .nav-links {
        display: none;
    }

    .container button.menu-btn {
        display: block;
    }
    .menu-btn{
        display: block;
        height: 40px;
        width: 40px;
        border: none;
        background-color: white;
    }
    .sidebar {
        padding-top: 90px;
    }

    /* Exibir o sidebar quando o menu é clicado */
    .sidebar.active {
        left: 0;
    }

    /* Animação do ícone do menu ao abrir a sidebar */
    .menu-btn.active .menu-icon {
        background: transparent;
    }

    .menu-btn.active .menu-icon::before {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-btn.active .menu-icon::after {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .card ion-icon{
        font-size: 22px;
        color: rgb(182, 182, 0);
    }
    #depoimentos h1{
        font-size: 35px;
    }
    #depoimentos p{
        font-size: 15px;
    }
    .card ion-icon{
        font-size: 17px;
    }
    #depoimentos .card p{
        font-size: 10px;
    }
    #depoimentos .cards-equipe img{
        width: 80px;
    }
    #depoimentos h3{
        font-size: 18px;
    }
}